<div class="footer">
    <div class="footer-column">
        <h6>COMPANY</h6>
        <ul>
            <li><a routerLink="/homepage">About Us</a></li>
            <li><a routerLink="/homepage">Careers</a></li>
            <li><a routerLink="/homepage">Terms</a></li>
            <li><a routerLink="/homepage">Privacy</a></li>
            <li><a routerLink="/homepage">Help</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h6>WORK WITH US</h6>
        <ul>
            <li><a routerLink="/homepage">Authors</a></li>
            <li><a routerLink="/homepage">Advertise</a></li>
            <li><a routerLink="/homepage">Authors & ads blog</a></li>
            <li><a routerLink="/homepage">API</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h6>CONNECT</h6>
        <div class="footer-social">
            <a href="https://www.facebook.com/Goodreads/"><img src="../../assets/footer/footer_facebook.svg"></a>
            <a href="https://twitter.com/goodreads"><img src="../../assets/footer/footer_twitter.svg"></a>
        </div>
        <div class="footer-social">
            <a href="https://www.instagram.com/goodreads/"><img src="../../assets/footer/footer_instagram.svg"></a>
            <a href="https://www.linkedin.com/company/goodreads-com/"><img src="../../assets/footer/footer_linkedin.svg"></a>
        </div>
    </div>
    <div class="footer-column">
        <div class="footer-app-stores">
            <a href="https://itunes.apple.com/app/apple-store/id355833469"><img src="../../assets/footer/badge-ios.svg" alt=""></a>
            <a href="https://play.google.com/store/apps/details?id=com.goodreads"><img src="../../assets/footer/badge-android.png" alt=""></a>
            <p> © <span id="footer-year"></span> Geeksreads, Inc.</p>
        </div>
    </div>
</div>