<p id="suggested-books-others">Readers Also Enjoyed</p>
<div class="scroll-menu-other">
    <a id="suggested-book-other" href="http://localhost:4200/book">
        <img (click)="OnClick_getbook(suggestedbook_details[0])" class="suggested-book-other-image" src={{bookimage[0]}}>
        <h4 class="suggested-book-other-title">{{booktitle[0]}}</h4>
        <p class="suggested-book-other-author">by<span class="author-name">{{bookauthor[0]}}</span></p>
    </a>
    <a id="suggested-book-other" href="http://localhost:4200/book">
        <img  (click)="OnClick_getbook(suggestedbook_details[1])" class="suggested-book-other-image" src={{bookimage[1]}}>
        <h4 class="suggested-book-other-title">{{booktitle[1]}}</h4>
        <p class="suggested-book-other-author">by<span class="author-name">{{bookauthor[1]}}</span></p>
    </a>
    <a id="suggested-book-other" href="http://localhost:4200/book">
        <img  (click)="OnClick_getbook(suggestedbook_details[2])" class="suggested-book-other-image" src={{bookimage[2]}}>
        <h4 class="suggested-book-other-title">{{booktitle[2]}}</h4>
        <p class="suggested-book-other-author">by<span class="author-name">{{bookauthor[2]}}</span></p>
    </a>
    <a id="suggested-book-other" href="http://localhost:4200/book">
        <img (click)="OnClick_getbook(suggestedbook_details[3])" class="suggested-book-other-image" src={{bookimage[3]}}>
        <h4 class="suggested-book-other-title">{{booktitle[3]}}</h4>
        <p class="suggested-book-other-author">by<span class="author-name">{{bookauthor[3]}}</span></p>
    </a>
    <a id="suggested-book-other" href="http://localhost:4200/book">
        <img (click)="OnClick_getbook(suggestedbook_details[5])" class="suggested-book-other-image" src={{bookimage[4]}}>
        <h4 class="suggested-book-other-title">{{booktitle[4]}}</h4>
        <p class="suggested-book-other-author">by<span class="author-name">{{bookauthor[4]}}</span></p>
    </a>
    <a id="suggested-book-other" href="http://localhost:4200/book">
        <img (click)="OnClick_getbook(suggestedbook_details[5])" class="suggested-book-other-image" src={{bookimage[5]}}>
        <h4 class="suggested-book-other-title">{{booktitle[5]}}</h4>
        <p class="suggested-book-other-author">by<span class="author-name">{{bookauthor[5]}}</span></p>
    </a>
    <a id="suggested-book-other" href="http://localhost:4200/book">
        <img (click)="OnClick_getbook(suggestedbook_details[6])" class="suggested-book-other-image" src={{bookimage[6]}}>
        <h4 class="suggested-book-other-title">{{booktitle[6]}}</h4>
        <p class="suggested-book-other-author">by<span class="author-name">{{bookauthor[6]}}</span></p>
    </a>
    <a id="suggested-book-other" href="http://localhost:4200/book">
        <img (click)="OnClick_getbook(suggestedbook_details[7])" class="suggested-book-other-image" src={{bookimage[7]}}>
        <h4 class="suggested-book-other-title">{{booktitle[7]}}</h4>
        <p class="suggested-book-other-author">by<span class="author-name">{{bookauthor[7]}}</span></p>
    </a>
    <a id="suggested-book-other" href="http://localhost:4200/book">
        <img (click)="OnClick_getbook(suggestedbook_details[9])" class="suggested-book-other-image" src={{bookimage[9]}}>
        <h4 class="suggested-book-other-title">{{booktitle[9]}}</h4>
        <p class="suggested-book-other-author">by<span class="author-name">{{bookauthor[9]}}</span></p>
    </a>
    <a id="suggested-book-other" href="http://localhost:4200/book">
        <img (click)="OnClick_getbook(suggestedbook_details[8])" class="suggested-book-other-image" src={{bookimage[8]}}>
        <h4 class="suggested-book-other-title">{{booktitle[8]}}</h4>
        <p class="suggested-book-other-author">by<span class="author-name">{{bookauthor[8]}}</span></p>
    </a>
</div>
<hr id="underline-other-suggested-books">