.sign-out {
    margin: 64px 0 0 0;
    text-align: center;
}

.sign-out-logo-div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 10px 0;
    padding: 10px 0 0 0;
}

.sign-out-logo {
    width: 100px;
    margin: 0 auto;
}