.example-card {
  width:100% ;
  margin: 0px;
  }
  
  .example-header-image {
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.JchDxbr-ajB0-wbB1h5BBgAAAA&pid=15.1&P=0&w=300&h=3");
    background-size: cover;
  }
  .header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .activity{
    color: brown ; 
    margin: 0px 0 ; 
    display: flex;
  }
  .body{
    margin-left: 8.5%;
  }