<p id="community-reviews">Community Reviews</p>
<div id="user-reviews">
    <img routerLink="/profile" class="reviewer-image" src="{{reviewerimage[0]}}">
    <div id="reviewer-data">
        <p id="Reviewer-name">{{reviewername[0]}}
            <span id="rate-it">rated it</span>
            <span class="fa fa-star checked" class="dots"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </p>
        <p id="review-date">{{reviewerdate[0]}}</p>
    </div>
</div>
<div id="review-comment">
    <p>{{befor_dots[0]}}<span id="dots-user-review1">...</span><span id="more-review1">{{after_dots[0]}}</span>
    <button (click)="more_user_preview(1)" mat-button id="myBtn-user-review1">Read more</button></p>
</div>
<div id="review-like-comment">
    <p class="blue-text" id="liked0" (click)="OnclickLike(review_information[0],0)">Like</p>
    <p class="dots">.</p>
    <p (click)="OnclickComment(review_information[0])" routerLink="/reviews" class="blue-text">Comment</p>
    <p class="dots">.</p>
    <i class="thumbs-up"><mat-icon>thumb_up_alt</mat-icon></i>
    <p type="text" class="dots" id="show-likes0">{{reviewerlikes[0]}}</p>
    <p class="dots">.</p>
    <i class="comment">	<mat-icon> mode_comment</mat-icon></i>
    <p class="dots" id="show-comments">{{reviewercomments[0]}}</p>
</div>
<hr id="next-review" class="w3-gray">
<div id="user-reviews">
    <img routerLink="/profile" class="reviewer-image" src="{{reviewerimage[1]}}">
    <div id="reviewer-data">
        <p id="Reviewer-name">{{reviewername[1]}}
            <span id="rate-it">rated it</span>
            <span class="fa fa-star checked" class="dots"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
        </p>
        <p id="review-date">{{reviewerdate[1]}}</p>
    </div>
</div>
<div id="review-comment">
    <p>{{befor_dots[1]}}<span id="dots-user-review2">...</span><span id="more-review2">{{after_dots[1]}}</span>
    <button (click)="more_user_preview(2)" mat-button id="myBtn-user-review2">Read more</button></p>
</div>
<div id="review-like-comment">
    <p class="blue-text" id="liked1" (click)="OnclickLike(review_information[1],1)">Like</p>
    <p class="dots">.</p>
    <p (click)="OnclickComment(review_information[1])" routerLink="/reviews" class="blue-text">Comment</p>
    <p class="dots">.</p>
    <i class="thumbs-up"><mat-icon>thumb_up_alt</mat-icon></i>
    <p type="text" class="dots" id="show-likes1">{{reviewerlikes[1]}}</p>
    <p class="dots">.</p>
    <i class="comment">	<mat-icon> mode_comment</mat-icon></i>
    <p class="dots" id="show-comments">{{reviewercomments[1]}}</p>
</div>
<hr id="next-review" class="w3-gray">
<div id="more_user_reviews">
    <div id="user-reviews">
        <img routerLink="/profile" class="reviewer-image" src="{{reviewerimage[2]}}">
        <div id="reviewer-data">
            <p id="Reviewer-name">{{reviewername[2]}}
                <span id="rate-it">rated it</span>
                <span class="fa fa-star checked" class="dots"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </p>
            <p id="review-date">{{reviewerdate[2]}}</p>
        </div>
    </div>
    <div id="review-comment">
        <p>{{befor_dots[2]}}<span id="dots-user-review3">...</span><span id="more-review3">{{after_dots[2]}}</span>
        <button (click)="more_user_preview(3)" mat-button id="myBtn-user-review3">Read more</button></p>
    </div>
    <div id="review-like-comment">
        <p class="blue-text" id="liked2" (click)="OnclickLike(review_information[2],2)">Like</p>
        <p class="dots">.</p>
        <p (click)="OnclickComment(review_information[2])" routerLink="/reviews" class="blue-text">Comment</p>
        <p class="dots">.</p>
        <i class="thumbs-up"><mat-icon>thumb_up_alt</mat-icon></i>
        <p type="text" class="dots" id="show-likes2">{{reviewerlikes[2]}}</p>
        <p class="dots">.</p>
        <i class="comment">	<mat-icon> mode_comment</mat-icon></i>
        <p class="dots" id="show-comments">{{reviewercomments[2]}}</p>
    </div>
    <hr id="next-review" class="w3-gray">
    <div id="user-reviews">
        <img routerLink="/profile" class="reviewer-image" src="{{reviewerimage[3]}}">
        <div id="reviewer-data">
            <p id="Reviewer-name">{{reviewername[3]}}
                <span id="rate-it">rated it</span>
                <span class="fa fa-star checked" class="dots"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </p>
            <p id="review-date">{{reviewerdate[3]}}</p>
        </div>
    </div>
    <div id="review-comment">
        <p>{{befor_dots[3]}}<span id="dots-user-review4">...</span><span id="more-review4">{{after_dots[3]}}</span>
        <button (click)="more_user_preview(4)" mat-button id="myBtn-user-review4">Read more</button></p>
    </div>
    <div id="review-like-comment">
        <p class="blue-text" id="liked3" (click)="OnclickLike(review_information[3],3)">Like</p>
        <p class="dots">.</p>
        <p (click)="OnclickComment(review_information[3])" routerLink="/reviews" class="blue-text">Comment</p>
        <p class="dots">.</p>
        <i class="thumbs-up"><mat-icon>thumb_up_alt</mat-icon></i>
        <p type="text" class="dots" id="show-likes3">{{reviewerlikes[3]}}</p>
        <p class="dots">.</p>
        <i class="comment">	<mat-icon> mode_comment</mat-icon></i>
        <p class="dots" id="show-comments">{{reviewercomments[3]}}</p>
    </div>
    <hr id="next-review" class="w3-gray">
    <div id="user-reviews">
        <img routerLink="/profile" class="reviewer-image" src="{{reviewerimage[4]}}">
        <div id="reviewer-data">
            <p id="Reviewer-name">{{reviewername[4]}}
                <span id="rate-it">rated it</span>
                <span class="fa fa-star checked" class="dots"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </p>
            <p id="review-date">{{reviewerdate[4]}}</p>
        </div>
    </div>
    <div id="review-comment">
        <p>{{befor_dots[4]}}<span id="dots-user-review5">...</span><span id="more-review5">{{after_dots[4]}}</span>
        <button (click)="more_user_preview(5)" mat-button id="myBtn-user-review5">Read more</button></p>
    </div>
    <div id="review-like-comment">
        <p class="blue-text" id="liked4" (click)="OnclickLike(review_information[4],4)">Like</p>
        <p class="dots">.</p>
        <p (click)="OnclickComment(review_information[4])" routerLink="/reviews" class="blue-text">Comment</p>
        <p class="dots">.</p>
        <i class="thumbs-up"><mat-icon>thumb_up_alt</mat-icon></i>
        <p type="text" class="dots" id="show-likes4">{{reviewerlikes[4]}}</p>
        <p class="dots">.</p>
        <i class="comment"><mat-icon> mode_comment</mat-icon></i>
        <p class="dots" id="show-comments">{{reviewercomments[4]}}</p>
    </div>
    <hr id="next-review" class="w3-gray">
    <div id="user-reviews">
        <img routerLink="/profile" class="reviewer-image" src="{{reviewerimage[5]}}">
        <div id="reviewer-data">
            <p id="Reviewer-name">{{reviewername[5]}}
                <span id="rate-it">rated it</span>
                <span class="fa fa-star checked" class="dots"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </p>
            <p id="review-date">{{reviewerdate[5]}}</p>
        </div>
    </div>
    <div id="review-comment">
        <p>{{befor_dots[5]}}<span id="dots-user-review6">...</span><span id="more-review6">{{after_dots[5]}}</span>
        <button (click)="more_user_preview(6)" mat-button id="myBtn-user-review6">Read more</button></p>
    </div>
    <div id="review-like-comment">
        <p class="blue-text" id="liked5" (click)="OnclickLike(review_information[5],5)">Like</p>
        <p class="dots">.</p>
        <p (click)="OnclickComment(review_information[5])" routerLink="/reviews" class="blue-text">Comment</p>
        <p class="dots">.</p>
        <i class="thumbs-up"><mat-icon>thumb_up_alt</mat-icon></i>
        <p type="text" class="dots" id="show-likes5">{{reviewerlikes[5]}}</p>
        <p class="dots">.</p>
        <i class="comment">	<mat-icon> mode_comment</mat-icon></i>
        <p class="dots" id="show-comments">{{reviewercomments[5]}}</p>
    </div>
    <hr id="next-review" class="w3-gray">
</div>
<button mat-flat-button (click)="load_more_user_preview()" id="load-more-community-reviews">Load More Community Reviews</button>