<div class="sign-up">
    <div class="sign-up-logo-div">
        <img src="../../assets/logos/logo.png" alt="Geeksreads Logo" class="sign-up-logo">
    </div>
    <form class="sign-up-form" (submit)="testRequest()" #signupForm='ngForm'>
        <mat-form-field>
            <input matInput placeholder="Enter your username" required name="userName" [(ngModel)]="userName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Enter your email" [formControl]="email" required name="email" [(ngModel)]="userEmail">
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Min 6 characters">
            <input matInput #input minlength="6" required placeholder="Enter your password" [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="userPassword">
            <mat-hint align="end">6/{{input.value?.length || 0}}</mat-hint>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <button mat-raised-button class="btn">Sign Up</button>
        <p>Already a member? <a routerLink="/sign-in">Sign In</a></p>
    </form>
</div>