mat-form-field {
    width: 100%;
    margin: 0 0 10px 0;
}

p a {
    color: #b18f06;
}

.sign-up {
    background: white;
    border-radius: 6px;
    margin: 64px auto 0 auto;
    padding: 0px 0px 70px 0px;
    width: 400px;
}

.sign-up p {
    color: #000000;
    font-size: 12px;
    text-decoration: none;
}

.sign-up h1 {
    font-size: 1.5em;
    text-align: center;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
}

.email {
    background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    border-radius: 4px;
    color: #AAAAAA;
    font-size: 1em;
    margin-top: 10px;
    padding: 8px;
    width: 100%;
}

.password {
    background: #ecf0f1;
    border-radius: 4px;
    border: #ccc 1px solid;
    font-size: 1em;
    padding: 8px;
    width: 100%;
}

.btn {
    background-color: #b9ab98;
    border: 0;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    box-shadow: 2px 2px 2px #111;
    width: 100%;
    height: 40px;
    position: relative;
    padding: 0;
    margin: 10px 0;
}

.btn span {
    font-size: 15px;
    line-height: 40px;
}

.btn:active {
    top: 1px;
    box-shadow: 1px 1px 2px #000;
}

.facebook {
    background-color: #3B5998;
}

.facebook i {
    float: left;
    width: 44px;
    height: 40px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAoCAYAAACFFRgXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAN1JREFUeNpi/P//P8NQAoyjDh518KiDRx086uBh62AtIOZE4r8A4qcUmwpyMJWxKxA//I8J2qlhPguVQ9UMiLcAMRutoo2Jyub10tKxtEjDb4FYCIn/C4jXA/FHIN4BZQ8qB38AYn4k/kQgLhjMSQIdfB/saXhIlMMGQDwHic2MJHcBiE8h8ZsoLYup4WAbID5MhLq/QMxLaTKhZ5K4SY00TU8HX6CKKVSulh/SojpGxkOulBh18KiDRx086uDRxg9eoIvW46BOx3O0mz/q4FEHjzp41MGjDiYXAAQYAJmVcB6iaE2HAAAAAElFTkSuQmCC") no-repeat center center;
}

.amazon {
    background-color: #b18f06;
}

.amazon i {
    float: left;
    width: 20px;
    height: 20px;
    margin: 10px;
    background: url("../../assets/signing/amazon-logo.svg") no-repeat center center;
    background-size: contain;
}

.checkbox-inline {
    display: inline;
    margin-right: 19%;
}

.sign-up-logo-div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 10px 0;
    padding: 10px 0 0 0;
}

.sign-up-logo {
    width: 100px;
    margin: 0 auto;
}