
<div id="user-comment">
<img id="user-image" src="{{userimage[0]}}">
  <div id="user-part">
      <p id="user-backet">
        <a id="user-name" href="@example">{{username[0]}}</a>
        <span id="user-body">{{userbody[0]}}</span> 
      </p>  
      <p id="comment-date">{{userdate[0]}}</p>
  </div>
</div>
<hr id="user-underline">
<div id="user-comment">
<img id="user-image" src="{{userimage[1]}}">
  <div id="user-part">
      <p id="user-backet">
        <a id="user-name" href="@example">{{username[1]}}</a>
        <span id="user-body">{{userbody[1]}}</span>
      </p>
      <p id="comment-date">{{userdate[1]}}</p>
  </div>
</div>
<hr id="user-underline">
<div id="user-comment">
<img id="user-image" src="{{userimage[2]}}">
  <div id="user-part">
      <p id="user-backet">
        <a id="user-name" href="@example">{{username[2]}}</a>
        <span id="user-body">{{userbody[2]}}</span>
      </p>
      <p id="comment-date">{{userdate[2]}}</p>
  </div>
</div>
<hr id="user-underline">
<div id="user-comment">
<img id="user-image" src="{{userimage[3]}}">
  <div id="user-part">
      <p id="user-backet">
        <a id="user-name" href="@example">{{username[3]}}</a>
        <span id="user-body">{{userbody[3]}}</span>
      </p>
      <p id="comment-date">{{userdate[3]}}</p>
  </div>
</div>
<hr id="user-underline">
<div id="user-comment">
<img id="user-image" src="{{userimage[4]}}">
  <div id="user-part">
      <p id="user-backet">
        <a id="user-name" href="@example">{{username[4]}}</a>
        <span id="user-body">{{userbody[4]}}</span>
      </p>
      <p id="comment-date">{{userdate[4]}}</p>
  </div>
</div>
<hr id="user-underline">
<div id="user-comment">
<img id="user-image" src="{{userimage[5]}}">
  <div id="user-part">
      <p id="user-backet">
        <a id="user-name" href="@example">{{username[5]}}</a>
        <span id="user-body">{{userbody[5]}}</span>
      </p>
      <p id="comment-date">{{userdate[5]}}</p>
  </div>
</div>
<hr id="user-underline">

