#user-reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 100px;
}
#rate-it {
    color: rgb(88, 88, 88);
}
#first-option {
    background-color: rgb(170, 154, 154);
}
.checked {
    color: orange;
}
.Book-image {
    max-width: 120px;
    max-height: 120px;
    margin: 5px 0 0 0;
    display: block;
}
#Book-info {
    margin-top: 15px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#book_title_font {
    font-family: 'Times New Roman', Times, serif;
    margin:0 0 0 0 ;
}
#Book-Title {
    margin: 5px 0 0 10px;
}
#By-Author {
    margin: 0 0 15px 0;
    cursor: pointer;
    color:gray;
}
#date_read_book
{
    color:gray;
}
#want-to-read {
    background-color: green;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px; 
}
.reviewer-image {
    height: 50px;
    width: 50px;
    margin: 0 0 0 10px;
    border-style: ridge;
}
#Reviewer-name {
    color: blue;
    margin: 0 0 0 12px;
}
.dots {
    margin-left: 5px;
}
#review-date {
    margin: 5px 0 0 10px;
    color: rgb(88, 88, 88);
}
#myBtn-user-review
{
    color:green;
}
#review-comment {
    margin-left: 65px;
}
#more-review {
    display: none;
}
#review-like-comment {
    display: flex;
    vertical-align: top;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 65px;
    margin-top: 5px;
}
.blue-text {
    color: blue;
    cursor: pointer;
}
.thumbs-up,
.comment {
    margin-left: 5px;
    margin-top: 10px;
    color: green;
    cursor: pointer;
}
#next-review {
    color: darkgray;
    size: 3px;
    margin-left: 10px;
}