<div class="genre-row">
    <h2 class="genre-type">{{genretype}}</h2>
    <div class="books-container">
        <!--body of the the book row contains three books with a button underneath-->
        <div class="book-entitiy">
            <a href="#"><img mat-card-image class="book-image" src={{bookimage1}} alt="Photo of the book"></a>
            <button class="book-button">want to read</button>
        </div>
        <div class="book-entitiy">
            <a href="#"><img mat-card-image class="book-image" src={{bookimage2}} alt="Photo of the book"></a>
            <button class="book-button">want to read</button>
        </div>
        <div class="book-entitiy">
            <a href="#"><img mat-card-image class="book-image" src={{bookimage3}} alt="Photo of the book"></a>
            <button class="book-button">want to read</button>
        </div>
    </div>
    <div class="see-more-container">
        <button mat-button class="see-more">See more</button>
    </div>
</div>
<hr>