<div class="genre-row">
    <div *ngIf="showGenreName === true">
    <h2  class="genre-type">{{genreType}}</h2>
</div>
    <div class="books-container">
        <!--body of the the book row contains three books with a button underneath-->
        <div class="book-entitiy">
            <a [routerLink]="['/book',bookId1]"><img mat-card-image class="book-image" src={{bookImage1}} alt="Photo of the book"></a>
            <a [routerLink]="['/book',bookId1]"><p>{{bookName1}}</p></a>
        </div>
        <div class="book-entitiy">
            <a [routerLink]="['/book',bookId2]"><img mat-card-image class="book-image" src={{bookImage2}} alt="Photo of the book"></a>
            <a [routerLink]="['/book',bookId2]"><p>{{bookName2}}</p></a>
        </div>
        <div class="book-entitiy">
            <a [routerLink]="['/book',bookId3]"><img mat-card-image class="book-image" src={{bookImage3}} alt="Photo of the book"></a>
            <a [routerLink]="['/book',bookId3]"><p>{{bookName3}}</p></a>
        </div>
    </div>
   
</div>
<hr>